<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="asyncLog" xsi:type="File" fileName="${basedir}/logs/log_${shortdate}.txt"/>
    </targets>
  </nlog>
</configuration>