<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <GeneticConfig>
    <PopulationSize>100</PopulationSize>
    <CrossoverProb>0.5</CrossoverProb>
    <MutationProb>0.1</MutationProb>
    <PanmixiaRatio>0.4</PanmixiaRatio>
    <InbreedRatio>0.3</InbreedRatio>
    <OutbreedRatio>0.3</OutbreedRatio>
    <MaxStrategySize>1000</MaxStrategySize>
  </GeneticConfig>
  <MapConfig>
    <Width>30</Width>
    <Height>20</Height>
    <ObstaclesCount>100</ObstaclesCount>
    <EnemiesCount>30</EnemiesCount>
    <ViewArea>10</ViewArea>
    <FireArea>5</FireArea>
  </MapConfig>
  <StrategyGeneratorConfig>
    <CloseBracketCoefficient>0.5</CloseBracketCoefficient>
    <NewFunctionCoefficient>0.7</NewFunctionCoefficient>
  </StrategyGeneratorConfig>
</Configuration>