<?xml version="1.0"?>
<GeneticConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PopulationSize>32</PopulationSize>
  <MaxStrategySize>128</MaxStrategySize>
  
  <CrossoverProb>0.9</CrossoverProb>
  <MutationProb>0.05</MutationProb>
  
  <PanmixiaRatio>0.4</PanmixiaRatio>
  <InbreedRatio>0.3</InbreedRatio>
  <OutbreedRatio>0.3</OutbreedRatio>
</GeneticConfiguration>